<?xml version="1.0" encoding="UTF-8"?>
<Program_Config>
<date>20141103</date>
<workPath>D:\stay</workPath>
<patternPath>D:\stay</patternPath>
<baseFile>D:\stay\null.txt</baseFile>
<idLength>18</idLength>
<cityMaxLon>117.505625</cityMaxLon>
<cityMinLon>115.357057</cityMinLon>
<cityMaxLat>41.081004</cityMaxLat>
<cityMinLat>39.441557</cityMinLat>
</Program_Config>
